
.App{
  
   width: 100vw;
   height: 100vh;
}
.createBlog{
   margin: 1rem;
}
.follow_list{
     display: flex;
     justify-content: space-between;
     align-items: center;
}

   .follow_btns{
      margin-right: 80rem;
      margin-top: 1rem;
  }
